div{
    width: 1000px;
    margin: 100px auto 0;
}

.id{
    display: flex;
    column-gap: 20px;
    width: auto;
}

textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

input{
    margin-bottom: 20px;
}
