<main>
    <button (click)="getPosts()" class="btn btn-secondary">get all posts</button>
    <button (click)="getComments()" class="btn btn-secondary">get with parametr</button>
    <button (click)="postSub()" class="btn btn-secondary">method post</button>
    <button (click)="onePost()" class="btn btn-secondary">erron get</button>
    <button (click)="postWithHeader()" class="btn btn-secondary">Post with headers. Type Text</button>
    <button (click)="DeletePost()" class="btn btn-secondary ">Delete one Post</button>
</main>

<div class="one">
    <button routerLink="TwoComponent" class="btn btn-secondary">Resolve</button>
</div>


<router-outlet></router-outlet>
