<main>
    <h1>СПИСОК ДЕЛ</h1>

    <div class="adding">
        <input  
          type="text" 
          class="form-control" 
          name="name" 
          required 
          [(ngModel)]="newTitle" 
          #firstName="ngModel" 
          style="margin-right: 40px;"
        >

        <button (click)="add()" [disabled]="firstName.invalid" class="btn btn-primary">Добавить</button>
    </div>


    <div class="del" *ngFor="let task of currentTodo; let i = index">
        <div class="inf">
            <input type="checkbox" [checked]="task.isActive" (change)="active(task.id)" id="check" />
            <p class="value" [ngClass]="{ completed: task.isActive }">{{task.title}}</p>
            <!-- <p class="value">{{task.isActive}}</p>          -->
        </div>
        <button class="btn btn-danger" (click)="delete(task.id)">Удалить</button>
    </div>
</main>






