<form class="container">
    <div class="mb-3">
      <label class="form-label">Название книги</label>
      <input
        pattern="[а-яА-ЯеЁ]*"
        required
        #name_book="ngModel"
        [(ngModel)]="create_Books.name_book"
        name="name"
        type="text"
        class="form-control"
        >
  
      <div *ngIf="name_book.invalid && (name_book.dirty || name_book.touched)">
        <div *ngIf="name_book.hasError('required')" class="alert alert-danger mt-2" role="alert">
          Это обязательное поле для заполнения
        </div>
  
        <div *ngIf="name_book.hasError('pattern')" class="alert alert-warning mt-2" role="alert">
          Введите пожалуйста название книги на русском, без пробелов и спец. символов
        </div>
      </div>
    </div>
  
  
  
    <div class="mb-3">
      <label class="form-label">Автор</label>
      <input
        minlength="3"
        pattern="[а-яА-ЯеЁ]*"
        required
        #author="ngModel"
        [(ngModel)]="create_Books.author"
        name="author" type="text"
        class="form-control"
        >
  
  
      <div *ngIf="author.invalid && (author.dirty || author.touched)">
        <div *ngIf="author.hasError('required')" class="alert alert-danger mt-2" role="alert">
          Это обязательное поле для заполнения
        </div>
  
        <div *ngIf="author.hasError('pattern')" class="alert alert-warning mt-2" role="alert">
            Введите пожалуйста автора на русском, без пробелов и спец. символов
        </div>

        <div *ngIf="author.hasError('minlength')" class="alert alert-warning mt-2" role="alert">
            Введите фамилию автора полностью
        </div>
      </div>
    </div>
  
  
  
    <button [disabled]="name_book.invalid || author.invalid" type="submit" class="btn btn-primary" (click)="addBook()">Добавить</button>
  
  </form>
  
  
  <table class="table table-dark container pt-10">
    <thead>
    <tr>
      <th scope="col">Номер книги</th>
      <th scope="col">Название книги</th>
      <th scope="col">Автор</th>
    </tr>
    </thead>
  
    <tbody>
  
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{book.name_book}}</td>
      <td>{{book.author}}</td>
    </tr>
  
    </tbody>
  </table>
  